<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tasks.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='image/icone.jpg')}}">
</head>
<body>
    <header>
        <nav>
            <ul style="list-style: none;">
                <li><a href="/"><strong>TASKS</strong></a></li>
                <li style="float: right; top: 10px;"><a href="http://instagram.com/v.ii.n.i/" target="_blank"><img src="{{url_for('static',filename='image/instagram.png')}}" alt="instagram"></a></li>
                <li style="float: right; top: 10px;"><a href="http://github.com/vii-ni/" target="_blank"><img src="{{url_for('static',filename='image/github.png')}}" alt="github"></a></li>
                <li><a href="/{{name}}">{{name}}</a></li>
                <li><a href="/pop">sair</a></li>
            </ul>
        </nav>
    </header>

    <div>
        <button id="new_task" onclick="window.location.href = 'new_task'">NEW TASK</button>
    </div>

    <main>

    </main>


<script>
    //recebe as tasks do banco
    const list_tasks = {{tasks|tojson}};
    console.log(list_tasks)
    //configurações iniciais da task
    var startView = ['unset','hidden','v'];
    load_task()
    function load_task(){
        var width_screen = window.screen.width;
        //selecionando
        var my_div = document.querySelector('main');

        if (list_tasks == "" || list_tasks == null){
            //cria um novo elemento e o adiciona a tela
            var no_tasks = document.createElement('p');
            no_tasks.setAttribute('id','no_tasks');
            no_tasks.innerHTML = 'não há tasks';
            my_div.appendChild(no_tasks);
        }else{
            //create tasks
            let cont = 0;
            let a = 0;
            for (let n = 0; n < (list_tasks.length/3); n++){
                space_div = document.createElement('div');
                space_div.setAttribute('class','space');
                div_task = document.createElement('div');
                div_task.setAttribute('class', 'view_task');
                if (list_tasks[cont+2] == ' '){
                    div_task.innerHTML = `<p class="date">${list_tasks[cont+1]}</p><p class="name_task">${list_tasks[cont]}</p>`;
                }
                else{
                    div_task.innerHTML = `<p class="date">${list_tasks[cont+1]}</p><p class="name_task">${list_tasks[cont]}</p><p class="task" name="task" value='0'>${list_tasks[cont+2]}</p><div name='check_box'class='check_box'>v</button>`;
                    div_task.setAttribute('onclick',`click_task(${a})`);
                    a++;
                }
                space_div.appendChild(div_task);
                my_div.appendChild(space_div);
                cont += 3;
            }
        }
    }
    
    function click_task(n){
        var task = document.getElementsByName('task')[n];
        var check_box = document.getElementsByName('check_box')[n];
        if (task.getAttribute('value') == '0'){
            startView[0] = 'unset';
            startView[1] = 'initial';
            check_box.style.rotate = '180deg';
            task.setAttribute('value','1');
        }
        else{
            startView[0] = 'hidden';
            startView[1] = 'absolute';
            check_box.style.rotate = '0deg';
            task.setAttribute('value','0');
        }
        task.style.visibility = startView[0];
        task.style.position = startView[1];
    }
</script>
</body>
</html>